---
import Layout from "../layouts/Layout.astro";
import mockupData from "../data/mockup.json";
import HeroSection from "../components/HeroSection.astro";
import CardsTextSection from "../components/CardsTextSection.astro";
import ImageTextSection from "../components/ImageTextSection.astro";
import Gallery from "../components/Gallery.astro";
import CardsSection from "../components/CardsSection.astro";
import VirtualTour from "../components/VirtualTour.astro";
import Map from "../components/Map.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title={`${mockupData.propertyName} - ${mockupData.location.neighborhood}`}
>
  <div id="home">
    <HeroSection
      propertyName={mockupData.propertyName}
      propertyType={mockupData.propertyType}
      developer={mockupData.developer}
      location={mockupData.location}
      delivery={mockupData.delivery}
    />
  </div>

  <CardsTextSection
    pricing={mockupData.pricing}
    dimensions={mockupData.dimensions}
    features={mockupData.features}
    delivery={mockupData.delivery}
    description={mockupData.description}
  />

  <div id="galeria">
    <Gallery title="Galería" />
  </div>

  <div id="amenidades">
    <CardsSection items={mockupData.amenities} title="Amenidades" />
  </div>

  <VirtualTour virtualTourUrl={mockupData.media.virtualTourUrl} />

  <div id="mapa">
    <Map title="Ubicación" />
  </div>

  <div id="desarrollador">
    <ImageTextSection
      developer={mockupData.developer}
      contact={mockupData.contact}
      heroImage={mockupData.media.images[0]}
      reverseOrder={false}
    />
  </div>

  <div id="contacto">
    <!-- Contact section anchor point -->
  </div>

  <CTA />
</Layout>
